.btn_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--mb-2);
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
  box-shadow: 8px 8px var(--bg);
  background-color: var(--bgLinkInactive);
}
