.graph_wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  color: black;
}

.loading {
  filter: brightness(70%);
}

.operations_wrapper {
  display: flex;
  background-color: var(--bgNav);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--mb-1);
  height: 100vh;
  width: 10vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  right: 0;
  overflow: auto;
  padding: var(--mb-3);
}

.operations_wrapper .icons {
  display: flex;
  flex-direction: row;
}
