.navbar_wrapper {
  display: flex;
  background-color: var(--bgNav);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 10vw;
  padding: var(--mb-3);
}
