a {
  padding: var(--mb-3) var(--mb-1);
  border-radius: 2%;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
  text-align: center;
}

.active_link {
  background-color: var(--bgLinkActive);
  box-shadow: 2px 2px black;
}

.inactive_link {
  background-color: var(--bgLinkInactive);
  box-shadow: 2px 2px var(--bg);
}
