.base_link {
  padding: var(--mb-3) var(--mb-1);
  border-radius: 2%;
  width: 100%;
  text-align: center;
}

.active_link {
  background-color: var(--bgLinkActive);
  box-shadow: 2px 2px black;
}

.inactive_link {
  background-color: var(--bgLinkInactive);
  box-shadow: 6px 6px var(--bg);
}
