/*===== CSS GLOBAL VARIABLES =====*/

/* Font Size */
:root {
  --normalFontSize: 16px;
  --headingFontSize: 24px;
  --headingFont: AileronFont;
  --primaryFont: AileronFont;
  --text: whitesmoke;
  --bg: #443c9c;
  --bgNav: #6360b1;
  --bgLinkActive: #362e7b;
  --bgLinkInactive: #242c44;
}

/* Colors */

/* Fonts */
@font-face {
  font-family: AileronFont;
  src: url(/src/assets/fonts/Aileron-Black.otf);
  font-weight: bold;
}
@font-face {
  font-family: AileronFont;
  src: url(/src/assets/fonts/Aileron-Light.otf);
  font-weight: light;
}

/* rem-based (root element) sizes */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z-index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  list-style: outside;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: var(--primaryFont), -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: var(--normalFontSize);
  color: var(--text);
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  letter-spacing: 1.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
